Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kapelnik, @zivmo99, @leondavi, @dordor7, @evgenyan95, @Aslanso

added documentation
  src_cpp/opennnBridge/tmp.cpp
Owners: @leondavi

added documentation
  src_cpp/opennnBridge/tmp.cpp
Owners: @leondavi

[OPENNN_BRIDGE] making progress
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/ModelParams.cpp
  src_cpp/opennnBridge/include/ModelParams.h
  src_cpp/opennnBridge/include/nifpp.h
  src_cpp/opennnBridge/include/niftest.h
  src_cpp/opennnBridge/tmp.cpp
  src_erl/niftest.erl
Owners: @leondavi, @kapelnik, @zivmo99

[OPENNN_BRIDGE] making progress
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/ModelParams.cpp
  src_cpp/opennnBridge/include/ModelParams.h
  src_cpp/opennnBridge/include/nifpp.h
  src_cpp/opennnBridge/include/niftest.h
  src_cpp/opennnBridge/tmp.cpp
  src_erl/niftest.erl
Owners: @leondavi, @kapelnik, @zivmo99

[example]
  src_cpp/opennnBridge/tmp.cpp
Owners: @leondavi

[example]
  src_cpp/opennnBridge/tmp.cpp
Owners: @leondavi

[OPENNN_NIF] basic example of using neural network of opennn
  src_cpp/opennnBridge/include/niftest.h
  src_cpp/opennnBridge/tmp.cpp
Owners: @leondavi

[OPENNN_NIF] basic example of using neural network of opennn
  src_cpp/opennnBridge/include/niftest.h
  src_cpp/opennnBridge/tmp.cpp
Owners: @leondavi

first api compiled
  src_cpp/opennnBridge/ModelParams.cpp
  src_cpp/opennnBridge/include/ModelParams.h
  src_cpp/opennnBridge/include/convert.h
  src_cpp/opennnBridge/include/niftest.h
Owners: @leondavi

first api compiled
  src_cpp/opennnBridge/ModelParams.cpp
  src_cpp/opennnBridge/include/ModelParams.h
  src_cpp/opennnBridge/include/convert.h
  src_cpp/opennnBridge/include/niftest.h
Owners: @leondavi

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

[CMAKE] update release optimization flag as O3
  CMakeLists.txt
Owners: none

[CMAKE] update release optimization flag as O3
  CMakeLists.txt
Owners: none

singelton put to use. train.h wan't compile .need to add more functions to class's
  src_cpp/opennnBridge/ModelParams.cpp
  src_cpp/opennnBridge/include/ModelParams.h
  src_cpp/opennnBridge/include/bridgeController.h
  src_cpp/opennnBridge/include/convert.h
  src_cpp/opennnBridge/include/niftest.h
  src_cpp/opennnBridge/include/train.h
  src_erl/niftest.erl
Owners: @leondavi, @kapelnik, @zivmo99

singelton put to use. train.h wan't compile .need to add more functions to class's
  src_cpp/opennnBridge/ModelParams.cpp
  src_cpp/opennnBridge/include/ModelParams.h
  src_cpp/opennnBridge/include/bridgeController.h
  src_cpp/opennnBridge/include/convert.h
  src_cpp/opennnBridge/include/niftest.h
  src_cpp/opennnBridge/include/train.h
  src_erl/niftest.erl
Owners: @leondavi, @kapelnik, @zivmo99

Optimization
  inputJsonFiles/jsonArch1PC1Workers.json
  inputJsonFiles/jsonArch1PC1WorkersFed.json
  inputJsonFiles/jsonArch1PC2workers.json
  inputJsonFiles/jsonArch1PC2workers2Sources.json
  inputJsonFiles/jsonArch1PC2workers2SourcesFed.json
  inputJsonFiles/jsonArch1PC2workersFed.json
  src_erl/Communication_Layer/http_Nerlserver/src/Client/clientStatem.erl
  src_erl/Communication_Layer/http_Nerlserver/src/MainServer/mainGenserver.erl
  src_erl/Communication_Layer/http_Nerlserver/src/jsonParser.erl
  src_erl/Communication_Layer/http_Nerlserver/src/nerlNetServer_app.erl
  src_erl/Communication_Layer/http_Nerlserver/src/source/sourceStatem.erl
Owners: @kapelnik, @zivmo99, @leondavi

Optimization
  inputJsonFiles/jsonArch1PC1Workers.json
  inputJsonFiles/jsonArch1PC1WorkersFed.json
  inputJsonFiles/jsonArch1PC2workers.json
  inputJsonFiles/jsonArch1PC2workers2Sources.json
  inputJsonFiles/jsonArch1PC2workers2SourcesFed.json
  inputJsonFiles/jsonArch1PC2workersFed.json
  src_erl/Communication_Layer/http_Nerlserver/src/Client/clientStatem.erl
  src_erl/Communication_Layer/http_Nerlserver/src/MainServer/mainGenserver.erl
  src_erl/Communication_Layer/http_Nerlserver/src/jsonParser.erl
  src_erl/Communication_Layer/http_Nerlserver/src/nerlNetServer_app.erl
  src_erl/Communication_Layer/http_Nerlserver/src/source/sourceStatem.erl
Owners: @kapelnik, @zivmo99, @leondavi

.github/CODEOWNERS:

/src_erl/    @kapelnik @zivmo99 @leondavi
/src_cpp/cppBridge        @zivmo99 @leondavi 
/src_cpp/opennnBridge/    @leondavi @dordor7 @evgenyan95
/src_cpp                  @leondavi
/src_py/     @kapelnik @zivmo99 @leondavi
/.github/    @leondavi
/src_py/apiServer/  @leondavi @kapelnik @Aslanso
