Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

CNN test added
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

CNN test added
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[API-SERVER] New DB inherritance approach
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/nerl_tools.erl
  src_py/apiServer/BrainsDB.py
  src_py/apiServer/MessagesDB.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[API-SERVER] New DB inherritance approach
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/nerl_tools.erl
  src_py/apiServer/BrainsDB.py
  src_py/apiServer/MessagesDB.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[DB] Add DB implementation
  src_py/apiServer/BrainsDB.py
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/NerlDB.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[DB] Add DB implementation
  src_py/apiServer/BrainsDB.py
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/NerlDB.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[APIServer] WIP DB Concept
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/NerlDatasetDB.py
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[APIServer] WIP DB Concept
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/NerlDatasetDB.py
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[API Server] Pass tests
  src_py/apiServer/NerlDB.py
  src_py/apiServer/NerlDatasetDB.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
  src_py/apiServer/test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[API Server] Pass tests
  src_py/apiServer/NerlDB.py
  src_py/apiServer/NerlDatasetDB.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
  src_py/apiServer/test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

values extracted to ext_params vector
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

values extracted to ext_params vector
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Nadav - dimx,y,z added
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Nadav - dimx,y,z added
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Comments on formats
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_py/apiServer/decoderHttpMainServer.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

Comments on formats
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_py/apiServer/decoderHttpMainServer.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP decodeHttpMainServer
  src_py/apiServer/decoderHttpMainServer.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP decodeHttpMainServer
  src_py/apiServer/decoderHttpMainServer.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Changed worker seperators in stats
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Changed worker seperators in stats
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
Owners: @leondavi, @GuyPerets106

[Api Server] change NerlComDB functions
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/jsonDirParser.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[Api Server] change NerlComDB functions
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/jsonDirParser.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] Fixed stats request issues
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] Fixed stats request issues
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP NerlcomDB - stats from experiment
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP NerlcomDB - stats from experiment
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Changes to Routing IMPORTANT
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/nerl_tools.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Changes to Routing IMPORTANT
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/nerl_tools.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Changed Encoded String Format
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Changed Encoded String Format
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] fix decoderHttpMainServer
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] fix decoderHttpMainServer
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServer] add comments to decoder
  src_py/apiServer/decoderHttpMainServer.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServer] add comments to decoder
  src_py/apiServer/decoderHttpMainServer.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Doubled client name bug fixed
  src_erl/NerlnetApp/src/Client/clientStatem.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Doubled client name bug fixed
  src_erl/NerlnetApp/src/Client/clientStatem.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] WIP fix NerlComDb
  src_py/apiServer/NerlComDB.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP fix NerlComDb
  src_py/apiServer/NerlComDB.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] fix comment - use defintions for separators
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/decoderHttpMainServerDefs.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] fix comment - use defintions for separators
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/decoderHttpMainServerDefs.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi
