Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

[Api Server] add new json for experiment flow
  inputJsonsFiles/experimentsFlow/exp_new_arc.json
Owners: none

[Api Server] add new json for experiment flow
  inputJsonsFiles/experimentsFlow/exp_new_arc.json
Owners: none

WIP nerlplanner experiment flow
  src_py/nerlPlanner/WinExperimentFlowDialog.py
  src_py/nerlPlanner/WinExperimentFlowDialogDefinitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

WIP nerlplanner experiment flow
  src_py/nerlPlanner/WinExperimentFlowDialog.py
  src_py/nerlPlanner/WinExperimentFlowDialogDefinitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

add pooling stride and padding
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add pooling stride and padding
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] WIP experiment flow
  inputJsonsFiles/experimentsFlow/exp_new_arc.json
  src_py/apiServer/NerlCsvDataSetDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_defs.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/nerl_model_db_defs.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP experiment flow
  inputJsonsFiles/experimentsFlow/exp_new_arc.json
  src_py/apiServer/NerlCsvDataSetDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_defs.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/nerl_model_db_defs.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Fix missing attributes
  src_py/nerlPlanner/WinExperimentFlowDialog.py
  src_py/nerlPlanner/WinExperimentFlowDialogDefinitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Fix missing attributes
  src_py/nerlPlanner/WinExperimentFlowDialog.py
  src_py/nerlPlanner/WinExperimentFlowDialogDefinitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

documentation changes and variables defined parametricaly
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

documentation changes and variables defined parametricaly
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few fixes from review, k,s,p extracted to _ext_params as numbers
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few fixes from review, k,s,p extracted to _ext_params as numbers
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

start integration
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

start integration
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

finish integration
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

finish integration
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServer]WIP
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServer]WIP
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServer] WIP finish experiment json parser
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_defs.py
  src_py/apiServer/nerl_csv_dataSet_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServer] WIP finish experiment json parser
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_defs.py
  src_py/apiServer/nerl_csv_dataSet_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServer] WIP fix parse_experiment_flow_json
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataSet_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServer] WIP fix parse_experiment_flow_json
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataSet_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/NerlCsvDataSetDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataSet_db.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/NerlCsvDataSetDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataSet_db.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  inputJsonsFiles/experimentsFlow/exp_new_arc.json
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_defs.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  inputJsonsFiles/experimentsFlow/exp_new_arc.json
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_defs.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP: run_current_experiment_phase
  src_py/apiServer/apiServer.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP: run_current_experiment_phase
  src_py/apiServer/apiServer.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

config edit
  config/subnets.nerlconfig
Owners: none

config edit
  config/subnets.nerlconfig
Owners: none

edit startup file
  NerlnetStartup.sh
Owners: none

[API_SERVER] Add terminate action and new send jsons action
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[API_SERVER] Add terminate action and new send jsons action
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Ack Updates
  inputJsonsFiles/ConnectionMap/conn_test_synt_1d_2c_2s_4r_4w.json
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_2s_4r_4w.json
  src_erl/NerlnetApp/src/MainServer/actionHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/castingHandler.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] Ack Updates
  inputJsonsFiles/ConnectionMap/conn_test_synt_1d_2c_2s_4r_4w.json
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_2s_4r_4w.json
  src_erl/NerlnetApp/src/MainServer/actionHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/castingHandler.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServer] WIP
  src_erl/NerlnetApp/src/Init/jsonHandler.erl
  src_erl/NerlnetApp/src/MainServer/ackHandler.erl
  src_erl/NerlnetApp/src/nerl_tools.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
  src_py/requirements.txt
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi
