Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

[NERLNETPLANNER] add some buttons and fix bugs
  src_py/nerlPlanner/Handlers.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLNETPLANNER] add some buttons and fix bugs
  src_py/nerlPlanner/Handlers.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Depracated function
  src_py/apiServer/apiServer.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Depracated function
  src_py/apiServer/apiServer.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLNETPLANER] Add duplicate port validation and sugger user fix it
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonElements.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLNETPLANER] Add duplicate port validation and sugger user fix it
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonElements.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Critical Bug Fix (SourceData Lines)
  src_py/apiServer/apiServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Critical Bug Fix (SourceData Lines)
  src_py/apiServer/apiServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Anomaly Detection (F1-Scores)
  Tests/NerlnetFullFlowTest.sh
  Tests/inputJsonsFiles/accuracy_stats_synt_1d_2c_4r_4w.json
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Anomaly Detection (F1-Scores)
  Tests/NerlnetFullFlowTest.sh
  Tests/inputJsonsFiles/accuracy_stats_synt_1d_2c_4r_4w.json
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Anomaly Detection (F1-Scores)
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Anomaly Detection (F1-Scores)
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Add CNN support
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Add CNN support
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Autogenerated cpp headers for worker definitions
  NerlnetBuild.sh
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/CppHeadersExporterDefs.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Autogenerated cpp headers for worker definitions
  NerlnetBuild.sh
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/CppHeadersExporterDefs.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[TEST] Increase accepted marginal error
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[TEST] Increase accepted marginal error
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[AUTOGENERATED] Add worker hrl with definitions of fields for parser
  NerlnetBuild.sh
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporterDefs.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[AUTOGENERATED] Add worker hrl with definitions of fields for parser
  NerlnetBuild.sh
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporterDefs.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[TESTS] change dir
  tests/NerlnetFullFlowTest.sh
  tests/NerlnetNifTest.sh
  tests/inputJsonsFiles/accuracy_stats_synt_1d_2c_4r_4w.json
  tests/inputJsonsFiles/arch_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/arch_test_synt_1d_2c_1s_4r_4w.json.noip
  tests/inputJsonsFiles/conn_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/exp_test_synt_1d_2c_1s_4r_4w.json
  tests/set_env.sh
Owners: none

[TESTS] change dir
  tests/NerlnetFullFlowTest.sh
  tests/NerlnetNifTest.sh
  tests/inputJsonsFiles/accuracy_stats_synt_1d_2c_4r_4w.json
  tests/inputJsonsFiles/arch_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/arch_test_synt_1d_2c_1s_4r_4w.json.noip
  tests/inputJsonsFiles/conn_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/exp_test_synt_1d_2c_1s_4r_4w.json
  tests/set_env.sh
Owners: none

[AUTOGEN] Add comment classes
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/CppHeadersExporterDefs.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporterDefs.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[AUTOGEN] Add comment classes
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/CppHeadersExporterDefs.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporterDefs.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

Update pr.yml
  .github/workflows/pr.yml
Owners: @leondavi

Update pr.yml
  .github/workflows/pr.yml
Owners: @leondavi

Add defs to Json DC
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonDistributedConfigDefs.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Add defs to Json DC
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonDistributedConfigDefs.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[AUTOGEN] Add Erlang DC hrl
  NerlnetBuild.sh
  src_erl/NerlnetApp/src/dc_definitions_ag.hrl
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonDistributedConfigDefs.py
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[AUTOGEN] Add Erlang DC hrl
  NerlnetBuild.sh
  src_erl/NerlnetApp/src/dc_definitions_ag.hrl
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonDistributedConfigDefs.py
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[NerlWorker] NerlWorker class
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/eigenTensorTypes.h
  src_cpp/opennnBridge/nerlworker.cpp
  src_cpp/opennnBridge/nerlworker.h
  src_cpp/opennnBridge/nifppNerltensorEigen.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] NerlWorker class
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/eigenTensorTypes.h
  src_cpp/opennnBridge/nerlworker.cpp
  src_cpp/opennnBridge/nerlworker.h
  src_cpp/opennnBridge/nifppNerltensorEigen.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

saveToFile in Stats , loss_min baseline
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/min_loss_synt_1d_2c_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

saveToFile in Stats , loss_min baseline
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/min_loss_synt_1d_2c_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Changed Accuracy Stats to Model Stats
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/model_stats_synt_1d_2c_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Changed Accuracy Stats to Model Stats
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/model_stats_synt_1d_2c_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NIF] Add nerlLayer class
  .gitignore
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/ModelParams.h
  src_cpp/opennnBridge/eigenTensorTypes.h
  src_cpp/opennnBridge/nerlLayer.cpp
  src_cpp/opennnBridge/nerlLayer.h
  src_cpp/opennnBridge/nerlworker.h
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_py/nerlPlanner/CppHeadersExporter.py
  tests/inputJsonsFiles/arch_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NIF] Add nerlLayer class
  .gitignore
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/ModelParams.h
  src_cpp/opennnBridge/eigenTensorTypes.h
  src_cpp/opennnBridge/nerlLayer.cpp
  src_cpp/opennnBridge/nerlLayer.h
  src_cpp/opennnBridge/nerlworker.h
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_py/nerlPlanner/CppHeadersExporter.py
  tests/inputJsonsFiles/arch_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Integration NIF Phase
  src_cpp/opennnBridge/eigenTensorTypes.h
  src_cpp/opennnBridge/nerlLayer.cpp
  src_cpp/opennnBridge/nerlLayer.h
  src_cpp/opennnBridge/nerlworker.cpp
  src_cpp/opennnBridge/nerlworker.h
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Integration NIF Phase
  src_cpp/opennnBridge/eigenTensorTypes.h
  src_cpp/opennnBridge/nerlLayer.cpp
  src_cpp/opennnBridge/nerlLayer.h
  src_cpp/opennnBridge/nerlworker.cpp
  src_cpp/opennnBridge/nerlworker.h
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi
