Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

[NERLPLANNER] Fix model types
  inputJsonsFiles/Workers/worker_latest.json
  src_cpp/common/worker_definitions_ag.h
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Fix model types
  inputJsonsFiles/Workers/worker_latest.json
  src_cpp/common/worker_definitions_ag.h
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

Worker Args fix
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

Worker Args fix
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

Updated worker [NerlPlanner Integration]
  src_cpp/common/common_definitions.h
  src_cpp/common/worker_definitions_ag.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTensor.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerDefinitions.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerFederatedServer.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Updated worker [NerlPlanner Integration]
  src_cpp/common/common_definitions.h
  src_cpp/common/worker_definitions_ag.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTensor.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerDefinitions.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerFederatedServer.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[python/integrationNerlplanner] copy from py/integrationNerlplanne
  inputJsonsFiles/Workers/testworker_dc_test_synt_1d_2c_1s_4r_4w.json
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[python/integrationNerlplanner] copy from py/integrationNerlplanne
  inputJsonsFiles/Workers/testworker_dc_test_synt_1d_2c_1s_4r_4w.json
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[python/integrationNerlplanner] AutoGenrate
  src_cpp/common/worker_definitions_ag.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[python/integrationNerlplanner] AutoGenrate
  src_cpp/common/worker_definitions_ag.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlPlanner Integration] Worker creation updates
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerDefinitions.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerFederatedServer.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
Owners: @leondavi, @GuyPerets106

[NerlPlanner Integration] Worker creation updates
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerDefinitions.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerFederatedServer.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
Owners: @leondavi, @GuyPerets106

[NERLNIF] Add is_integer_number to extract simple and complex parsing of layerSizesStr
  src_cpp/common/CMakeLists.txt
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLNIF] Add is_integer_number to extract simple and complex parsing of layerSizesStr
  src_cpp/common/CMakeLists.txt
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlPlanner Integration] Statistics fixes
  src_erl/Deprecated/nerlNetStatem.erl
  src_erl/NerlGUI/NERL GUI.odp
  src_erl/NerlGUI/NERL GUI.pptx
  src_erl/NerlGUI/README.md
  src_erl/NerlGUI/rebar.config
  src_erl/NerlGUI/rebar.lock
  src_erl/NerlGUI/src/devScreen.erl
  src_erl/NerlGUI/src/graphScreen.erl
  src_erl/NerlGUI/src/graphviz.erl
  src_erl/NerlGUI/src/gui_tools.erl
  src_erl/NerlGUI/src/gui_tools.hrl
  src_erl/NerlGUI/src/handlers/hello_handler.erl
  src_erl/NerlGUI/src/mainScreen.erl
  src_erl/NerlGUI/src/nerlGUI.app.src
  src_erl/NerlGUI/src/nerlGUI_app.erl
  src_erl/NerlGUI/src/nerlGUI_sup.erl
  src_erl/NerlGUI/src/rebar.lock
  src_erl/NerlGUI/src/routerScreen.erl
  src_erl/NerlGUI/src/serverScreen.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/MainServer/mainServerDefs.hrl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
  src_erl/NerlnetApp/src/nerl_tools.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

[NerlPlanner Integration] Statistics fixes
  src_erl/Deprecated/nerlNetStatem.erl
  src_erl/NerlGUI/NERL GUI.odp
  src_erl/NerlGUI/NERL GUI.pptx
  src_erl/NerlGUI/README.md
  src_erl/NerlGUI/rebar.config
  src_erl/NerlGUI/rebar.lock
  src_erl/NerlGUI/src/devScreen.erl
  src_erl/NerlGUI/src/graphScreen.erl
  src_erl/NerlGUI/src/graphviz.erl
  src_erl/NerlGUI/src/gui_tools.erl
  src_erl/NerlGUI/src/gui_tools.hrl
  src_erl/NerlGUI/src/handlers/hello_handler.erl
  src_erl/NerlGUI/src/mainScreen.erl
  src_erl/NerlGUI/src/nerlGUI.app.src
  src_erl/NerlGUI/src/nerlGUI_app.erl
  src_erl/NerlGUI/src/nerlGUI_sup.erl
  src_erl/NerlGUI/src/rebar.lock
  src_erl/NerlGUI/src/routerScreen.erl
  src_erl/NerlGUI/src/serverScreen.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/MainServer/mainServerDefs.hrl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
  src_erl/NerlnetApp/src/nerl_tools.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

[MAIN_SERVER] Refactoring + Changing messgaes to unicast/multicast
  src_erl/NerlnetApp/src/MainServer/guiHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/MainServer/mainServerDefs.hrl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Router/routingHandler.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/nerl_tools.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

[MAIN_SERVER] Refactoring + Changing messgaes to unicast/multicast
  src_erl/NerlnetApp/src/MainServer/guiHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/MainServer/mainServerDefs.hrl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Router/routingHandler.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/nerl_tools.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

fix stats issue
  src_erl/NerlnetApp/src/Stats/stats.erl
Owners: @leondavi, @GuyPerets106

fix stats issue
  src_erl/NerlnetApp/src/Stats/stats.erl
Owners: @leondavi, @GuyPerets106

[SOURCE] Replace old http send to support router unicast/multicast
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerl_tools.erl
Owners: @leondavi, @GuyPerets106

[SOURCE] Replace old http send to support router unicast/multicast
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerl_tools.erl
Owners: @leondavi, @GuyPerets106

all entities moved to http_router_request (bc/uc)
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
Owners: @leondavi, @GuyPerets106

all entities moved to http_router_request (bc/uc)
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
Owners: @leondavi, @GuyPerets106

change receiver action ackP to ackPy
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

change receiver action ackP to ackPy
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

add decode ets to python
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/decoderHttpMainServerDefs.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

add decode ets to python
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/decoderHttpMainServerDefs.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NerlPlanner Integration] ETS Fixes
  NerlnetMonitor.sh
  src_erl/NerlMonitor/.gitignore
  src_erl/NerlMonitor/README.md
  src_erl/NerlMonitor/rebar.config
  src_erl/NerlMonitor/src/MonitorGUI.py
  src_erl/NerlMonitor/src/handlers/nerlMonitor_handler.erl
  src_erl/NerlMonitor/src/nerlMonitor.app.src
  src_erl/NerlMonitor/src/nerlMonitor_app.erl
  src_erl/NerlMonitor/src/nerlMonitor_sup.erl
  src_erl/NerlMonitor/src/requirements.txt
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Router/routingHandler.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

[NerlPlanner Integration] ETS Fixes
  NerlnetMonitor.sh
  src_erl/NerlMonitor/.gitignore
  src_erl/NerlMonitor/README.md
  src_erl/NerlMonitor/rebar.config
  src_erl/NerlMonitor/src/MonitorGUI.py
  src_erl/NerlMonitor/src/handlers/nerlMonitor_handler.erl
  src_erl/NerlMonitor/src/nerlMonitor.app.src
  src_erl/NerlMonitor/src/nerlMonitor_app.erl
  src_erl/NerlMonitor/src/nerlMonitor_sup.erl
  src_erl/NerlMonitor/src/requirements.txt
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Router/routingHandler.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_erl/NerlnetApp/src/Stats/stats.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

WIP Fixed runtime errors
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/parser.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
Owners: @leondavi, @GuyPerets106

WIP Fixed runtime errors
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/parser.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
Owners: @leondavi, @GuyPerets106

WIP - Fix issues with router and NerlGraph - API Server was added to graph - same router as main_server
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

WIP - Fix issues with router and NerlGraph - API Server was added to graph - same router as main_server
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

WIP Fix run time issues
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

WIP Fix run time issues
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi
