Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi

[NerlWorker] Fixed parentheses
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Fixed parentheses
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] WIP stats
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP stats
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] flow_test
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] flow_test
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Fix worker stats com issue
  src_py/apiServer/NerlComDB.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Fix worker stats com issue
  src_py/apiServer/NerlComDB.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NerlWorker] Some fixes to AE_RED
  src_cpp/opennnBridge/ae_red.cpp
  src_cpp/opennnBridge/ae_red.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Some fixes to AE_RED
  src_cpp/opennnBridge/ae_red.cpp
  src_cpp/opennnBridge/ae_red.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

with 700 samples
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

with 700 samples
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] AEC Test Completed
  src_cpp/opennnBridge/ae_red.cpp
  src_cpp/opennnBridge/ae_red.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTensor.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] AEC Test Completed
  src_cpp/opennnBridge/ae_red.cpp
  src_cpp/opennnBridge/ae_red.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTensor.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Added current tested model print
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @GuyPerets106

[NerlWorker] Added current tested model print
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @GuyPerets106

readme change
  README.md
Owners: none

readme change
  README.md
Owners: none

[NerlWorker] Removed prints
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/parser.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Removed prints
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/parser.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[FixedNW] ae_red
  src_cpp/opennnBridge/ae_red.cpp
  src_cpp/opennnBridge/ae_red.h
  src_erl/NerlMonitor/_build/default/lib/.rebar3/rebar_compiler_erl/source_apps.dag
  src_erl/NerlMonitor/_build/default/lib/nerlMonitor/include
  src_erl/NerlMonitor/_build/default/lib/nerlMonitor/priv
  src_erl/NerlMonitor/_build/default/lib/nerlMonitor/src
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

fixes
  config/subnets.nerlconfig
  src_cpp/common/CMakeLists.txt
  src_cpp/common/common_definitions.h
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
  src_cpp/common/worker_definitions_ag.h
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_py/apiServer/experiment_flow_test.py
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NerlWorker] Reverted generate_training_strategy to previous implementation
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Reverted generate_training_strategy to previous implementation
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

remove initial learning rate
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

remove initial learning rate
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Removed Loss Value prints
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
Owners: @leondavi, @GuyPerets106

[NerlWorker] Removed Loss Value prints
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
Owners: @leondavi, @GuyPerets106

[NerlWorker] Fixed post train/predict (AE_RED)
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Fixed post train/predict (AE_RED)
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLNIF] Fix loss value to return bin tensor
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLNIF] Fix loss value to return bin tensor
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106
