Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Added Batch Timestamp
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Added Batch Timestamp
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Removed Deprecated "NumOfSamples"
  src_erl/NerlnetApp/src/Init/jsonHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Removed Deprecated "NumOfSamples"
  src_erl/NerlnetApp/src/Init/jsonHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Added Batch Timestamp to train phase
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Added Batch Timestamp to train phase
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/decoderHttpMainServerDefs.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/decoderHttpMainServerDefs.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/nerl_model_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/nerl_model_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Added tensor format to trainRes
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Added tensor format to trainRes
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Removed print
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Removed print
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB[WIP
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB[WIP
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

test for preceptron finished
  NerlnetBuild.sh
  src_cpp/common/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/layers_types_ag.hrl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

test for preceptron finished
  NerlnetBuild.sh
  src_cpp/common/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/layers_types_ag.hrl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB]WIP
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_phase.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB]WIP
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_phase.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

sourcerDriver.cpp
  src_cpp/sourceDriver/SourceDriver.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

sourceDriver.h
  src_cpp/sourceDriver/SourceDriver.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

sourceCsv.h
  src_cpp/sourceDriver/sourceCsv.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

sourceCsv.cpp
  src_cpp/common/sourceCsv.cpp
  src_cpp/sourceDriver/sourceCsv.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

CsvHandler class created
  src_cpp/sourceDriver/CsvHandler.cpp
  src_cpp/sourceDriver/CsvHandler.h
  src_cpp/sourceDriver/SourceCsv.h
  src_cpp/sourceDriver/SourceDriver.cpp
  src_cpp/sourceDriver/SourceDriver.h
  src_cpp/sourceDriver/sourceCsv.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] Build data frame for loss by ts
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Build data frame for loss by ts
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] add func get_mean_loss_list
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] add func get_mean_loss_list
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi
