Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi

[ApiServerDB] WIP
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_2s_4r_4w.json
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_phase.py
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_2s_4r_4w.json
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_phase.py
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] WIP
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Update Build script
  NerlnetBuild.sh
Owners: none

Update Build script
  NerlnetBuild.sh
Owners: none

[ApiServerDB] WIP
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[OPENNN] CNN working version submodule
  .gitmodules
Owners: none

[OPENNN] CNN working version submodule
  .gitmodules
Owners: none

[CMAKE] Change to Cpp17
  CMakeLists.txt
Owners: none

[CMAKE] Change to Cpp17
  CMakeLists.txt
Owners: none

update readme
  README.md
Owners: none

update readme
  README.md
Owners: none

[ApiServerDB]WIP
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB]WIP
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

add cnn test, add setdataset
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add cnn test, add setdataset
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLNIF] Add is_integer_number to extract simple and complex parsing of layerSizesStr
  src_cpp/common/CMakeLists.txt
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

try to push
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add pooling
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

values extracted to ext_params vector
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

try to push
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

start adding flatten
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add pooling stride and padding
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

values extracted to ext_params vector
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add pooling
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLNIF] Add is_integer_number to extract simple and complex parsing of layerSizesStr
  src_cpp/common/CMakeLists.txt
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

CNN test added
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

change to num samples = 1
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

CNN test added
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

added whitespace
  src_cpp/common/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add pooling stride and padding
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add stride and assert
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Nadav - dimx,y,z added
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

start adding flatten
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

change to num samples = 1
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add cnn, not full not checked
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

added whitespace
  src_cpp/common/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106
