Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi

add stride and assert
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Nadav - dimx,y,z added
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add cnn, not full not checked
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

added unordered map parsing for k,s,p in complex parsing + expansion for highest dim found
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

added unordered map parsing for k,s,p in complex parsing + expansion for highest dim found
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

documentation changes and variables defined parametricaly
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

start integration
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

start integration
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

documentation changes and variables defined parametricaly
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few fixes from review, k,s,p extracted to _ext_params as numbers
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few fixes from review, k,s,p extracted to _ext_params as numbers
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

test for preceptron finished
  NerlnetBuild.sh
  src_cpp/common/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/layers_types_ag.hrl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

finish integration
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

finish integration
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

data to add later
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add set data
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few changes made in NerlNetNifTest
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few changes in complex parsing
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few changes made in NerlNetNifTest
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few changes in complex parsing
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

test for preceptron finished
  NerlnetBuild.sh
  src_cpp/common/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/layers_types_ag.hrl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

data to add later
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add set data
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add cnn test, add setdataset
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add cnn test, add setdataset
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] Nerlnet Restart Erlang Side
  src_erl/NerlnetApp/src/Init/iotHandler.erl
  src_erl/NerlnetApp/src/MainServer/actionHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Nerlnet Restart Erlang Side
  src_erl/NerlnetApp/src/Init/iotHandler.erl
  src_erl/NerlnetApp/src/MainServer/actionHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

[NerlWorker] Added AE/AEC tests and post functions
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Added AE/AEC tests and post functions
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] add confusion matrix
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] add confusion matrix
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NerlnetRestart] First commit
  src_py/apiServer/apiServer.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

[NerlWorker] Added comments with questions
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTensor.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Added comments with questions
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTensor.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] NerlnetGraph visualization in apiServer
  src_py/apiServer/apiServer.py
  src_py/requirements.txt
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] NerlnetGraph visualization in apiServer
  src_py/apiServer/apiServer.py
  src_py/requirements.txt
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106
