Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

[NerlPlanner Integration] training works
  inputJsonsFiles/ConnectionMap/conn_test_synt_1d_2c_1s_4r_4w.json
  inputJsonsFiles/experimentsFlow/exp_test_synt_1d_2c_1s_4r_4w.json
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[NerlPlanner Integration] training works
  inputJsonsFiles/ConnectionMap/conn_test_synt_1d_2c_1s_4r_4w.json
  inputJsonsFiles/experimentsFlow/exp_test_synt_1d_2c_1s_4r_4w.json
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/Stats/stats.erl
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[NerlPlanner Integration] Experiment flow fixes
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NerlPlanner Integration] Experiment flow fixes
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

WIP - Fix run time issue with clients waiting list
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/logger.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

WIP - Fix run time issue with clients waiting list
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/logger.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

Fix router send method to API (no bin to term)
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

Fix router send method to API (no bin to term)
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

remove print
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

remove print
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLNET] Full test flow passed - Hell Yeah!
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/ackHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[NERLNET] Full test flow passed - Hell Yeah!
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/ackHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/globalVars.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

disable logger
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

disable logger
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[TEST] New baseline was generated
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/logger.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
  tests/inputJsonsFiles/model_stats_synt_1d_2c_4r_4w.json
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[TEST] New baseline was generated
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/logger.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
  tests/inputJsonsFiles/model_stats_synt_1d_2c_4r_4w.json
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[TEST] update margin accelptable error
  CMakeLists.txt
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[TEST] update margin accelptable error
  CMakeLists.txt
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Remvoe redundant prints
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

Remvoe redundant prints
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

tmp
  CMakeLists.txt
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

tmp
  CMakeLists.txt
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Fix NIF issue!
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

Fix NIF issue!
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

test fix
  src_py/apiServer/experiment_flow_test.py
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

test fix
  src_py/apiServer/experiment_flow_test.py
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

modify NN model
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: none

modify NN model
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: none

great config
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: none

great config
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: none

update model stats baseline
  tests/inputJsonsFiles/model_stats_synt_1d_2c_4r_4w.json
Owners: none

update model stats baseline
  tests/inputJsonsFiles/model_stats_synt_1d_2c_4r_4w.json
Owners: none

[API-SERVER] New JupyterLaunch script
  NerlnetJupyterEnvGenerator.sh
  NerlnetJupyterLaunch.sh
  inputJsonsFiles/Workers/testworker_dc_test_synt_1d_2c_1s_4r_4w.json
  inputJsonsFiles/Workers/worker_test_synt_1d_2c_1s_4r_4w.json
Owners: none

[API-SERVER] New JupyterLaunch script
  NerlnetJupyterEnvGenerator.sh
  NerlnetJupyterLaunch.sh
  inputJsonsFiles/Workers/testworker_dc_test_synt_1d_2c_1s_4r_4w.json
  inputJsonsFiles/Workers/worker_test_synt_1d_2c_1s_4r_4w.json
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi
