Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi

[py/integrationNerlplanner] generate random token
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] generate random token
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[SOURCE] Add Random policy
  NerlnetBuild.sh
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerl_tools.hrl
  src_erl/NerlnetApp/src/router_definitions_ag.hrl
  src_erl/NerlnetApp/src/source_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[SOURCE] Add Random policy
  NerlnetBuild.sh
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_erl/NerlnetApp/src/nerl_tools.hrl
  src_erl/NerlnetApp/src/router_definitions_ag.hrl
  src_erl/NerlnetApp/src/source_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[py/integrationNerlplanner] export- popup
  src_py/nerlPlanner/Handlers.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] export- popup
  src_py/nerlPlanner/Handlers.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[Nerlplanner] DC - Wrong key type fix
  src_py/nerlPlanner/JsonElements.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[Nerlplanner] DC - Wrong key type fix
  src_py/nerlPlanner/JsonElements.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[InputJSONS] Fix DC
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
Owners: none

[InputJSONS] Fix DC
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
Owners: none

[py/integrationNerlplanner]
  src_py/nerlPlanner/Definitions.py
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner]
  src_py/nerlPlanner/Definitions.py
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] fix duplicated port and occupied ip/name issues
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] fix duplicated port and occupied ip/name issues
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[SOURCE] Fix random method bug - minor
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[SOURCE] Fix random method bug - minor
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[py/integrationNerlplanner] Adding Optimizer Args input box
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] Adding Optimizer Args input box
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] add args to distributed system
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] add args to distributed system
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] fix bug of selected entity combo
  src_py/nerlPlanner/Handlers.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] fix bug of selected entity combo
  src_py/nerlPlanner/Handlers.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] fix optimizer args
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] fix optimizer args
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanne] fix args to distributed system
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanne] fix args to distributed system
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

JsonParser integration completed
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/nerl_tools.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_erl/NerlnetApp/src/source_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

JsonParser integration completed
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/nerl_tools.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_erl/NerlnetApp/src/source_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[py/integrationNerlplanner] fix problems with args and first letter name
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlplanner] fix problems with args and first letter name
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER][EXPORTER] Add missing fields of worker-ag
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER][EXPORTER] Add missing fields of worker-ag
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[WORKER_DEF] Fix optimizer dictionary and ag files
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[WORKER_DEF] Fix optimizer dictionary and ag files
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

addding cases for nif in nerlworker
  src_cpp/opennnBridge/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

addding cases for nif in nerlworker
  src_cpp/opennnBridge/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

adding cases to switches new
  src_cpp/opennnBridge/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

adding cases to switches new
  src_cpp/opennnBridge/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] Fix test issue
  src_cpp/opennnBridge/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorker.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/openNNnif.h
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/CppHeadersExporterDefs.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLWORKER] Fix test issue
  src_cpp/opennnBridge/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorker.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/openNNnif.h
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/CppHeadersExporterDefs.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8
