Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

[ApiServerDB] Nerlnet Graph visualization completed
  src_py/apiServer/apiServer.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Nerlnet Graph visualization completed
  src_py/apiServer/apiServer.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Finish get_confusion_matrices
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Finish get_confusion_matrices
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] finish get_model_performence_stats
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] finish get_model_performence_stats
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] new experiment test
  inputJsonsFiles/experimentsFlow/exp_test_synt_1d_2c_1s_4r_4w new.json
Owners: none

[ApiServerDB] new experiment test
  inputJsonsFiles/experimentsFlow/exp_test_synt_1d_2c_1s_4r_4w new.json
Owners: none

[NerlWorker] Added BoudingLayer to NerlPlanner and more
  NerlnetBuild.sh
  src_cpp/common/worker_definitions_ag.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/layers_types_ag.hrl
  src_erl/NerlnetApp/src/Bridge/models_types_ag.hrl
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTensor.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NerlWorker] Added BoudingLayer to NerlPlanner and more
  NerlnetBuild.sh
  src_cpp/common/worker_definitions_ag.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/layers_types_ag.hrl
  src_erl/NerlnetApp/src/Bridge/models_types_ag.hrl
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTensor.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Add Bounding layer
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Add Bounding layer
  src_py/nerlPlanner/WinWorkerDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[TEST] Fix AE
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @GuyPerets106

[TEST] Fix AE
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @GuyPerets106

tmp
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

tmp
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] New ApiServer DP interface
  inputJsonsFiles/experimentsFlow/exp_test_synt_1d_2c_1s_4r_4w new.json
  src_py/apiServer/apiServer.py
  src_py/apiServer/stats.py
  tests/inputJsonsFiles/exp_test_synt_1d_2c_1s_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] New ApiServer DP interface
  inputJsonsFiles/experimentsFlow/exp_test_synt_1d_2c_1s_4r_4w new.json
  src_py/apiServer/apiServer.py
  src_py/apiServer/stats.py
  tests/inputJsonsFiles/exp_test_synt_1d_2c_1s_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Issue with experiment
  NerlnetJupyterLaunch.sh
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/nerlGraphVisualizer.py
  src_py/requirements.txt
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Issue with experiment
  NerlnetJupyterLaunch.sh
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/nerlGraphVisualizer.py
  src_py/requirements.txt
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] fix get_min_loss to be OrderDict
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] fix get_min_loss to be OrderDict
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] fix assert issue
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] fix assert issue
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Issue with assert 1K batches train and predict
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/exp_test_synt_1d_2c_1s_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Issue with assert 1K batches train and predict
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/stats.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/exp_test_synt_1d_2c_1s_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Fix assert issue
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Fix assert issue
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Baseline generate
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/new_expflow_json.json
  src_py/apiServer/stats.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/baseline/min_loss_dict_synt_1d_2c_4r_4w.json
  tests/inputJsonsFiles/baseline/model_perf_synt_1d_2c_4r_4w.pickle
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Baseline generate
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_test.py
  src_py/apiServer/new_expflow_json.json
  src_py/apiServer/stats.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/baseline/min_loss_dict_synt_1d_2c_4r_4w.json
  tests/inputJsonsFiles/baseline/model_perf_synt_1d_2c_4r_4w.pickle
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

test cnn train works
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

test cnn train works
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] get communication stats
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] get communication stats
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Issue with confusion matrix test
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_test.py
  tests/inputJsonsFiles/baseline/min_loss_dict_synt_1d_2c_4r_4w.json
  tests/inputJsonsFiles/baseline/model_perf_synt_1d_2c_4r_4w.pickle
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
  tests/inputJsonsFiles/min_loss_synt_1d_2c_4r_4w.json
  tests/inputJsonsFiles/model_stats_synt_1d_2c_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Issue with confusion matrix test
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_test.py
  tests/inputJsonsFiles/baseline/min_loss_dict_synt_1d_2c_4r_4w.json
  tests/inputJsonsFiles/baseline/model_perf_synt_1d_2c_4r_4w.pickle
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
  tests/inputJsonsFiles/min_loss_synt_1d_2c_4r_4w.json
  tests/inputJsonsFiles/model_stats_synt_1d_2c_4r_4w.json
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Add comm stats to test - TODO missed batches
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

Add comm stats to test - TODO missed batches
  src_py/apiServer/experiment_flow_test.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NerlWorker] Added AE_RED
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/ae_red.cpp
  src_cpp/opennnBridge/ae_red.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NerlWorker] Added AE_RED
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/ae_red.cpp
  src_cpp/opennnBridge/ae_red.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi
