Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi

[ApiServer] WIP
  src_erl/NerlnetApp/src/Init/jsonHandler.erl
  src_erl/NerlnetApp/src/MainServer/ackHandler.erl
  src_erl/NerlnetApp/src/nerl_tools.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/events_sync.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
  src_py/requirements.txt
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  src_py/apiServer/events_sync.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/events_sync.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB]WIP
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB]WIP
  src_py/apiServer/events_sync.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/events_sync.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/events_sync.py
  src_py/apiServer/receiver.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] JsonReceivedAck
  src_erl/NerlnetApp/src/Init/jsonHandler.erl
  src_erl/NerlnetApp/src/MainServer/ackHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] JsonReceivedAck
  src_erl/NerlnetApp/src/Init/jsonHandler.erl
  src_erl/NerlnetApp/src/MainServer/ackHandler.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/apiServer.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_model_db.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

add set data
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add set data
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few changes in complex parsing
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few changes in complex parsing
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few changes made in NerlNetNifTest
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

few changes made in NerlNetNifTest
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/neural_networks_testing_models.hrl
  tests/NerlnetNifTest.sh
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

data to add later
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

data to add later
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/networkComponents.py
  src_py/apiServer/receiver.py
  src_py/apiServer/stats.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[SOURCE NIF] WIP Init
  CMakeLists.txt
  src_cpp/CMakeLists.txt
  src_cpp/sourceDriver/CMakeLists.txt
  src_cpp/sourceDriver/SourceApiNIF.h
  src_cpp/sourceDriver/SourceController.cpp
  src_cpp/sourceDriver/SourceController.h
  src_cpp/sourceDriver/SourceDriver.cpp
  src_cpp/sourceDriver/SourceDriver.h
  src_erl/NerlnetApp/src/Source/nerlSourceDrvNIF.erl
  src_erl/NerlnetApp/src/Source/nerlSourceDrvTest.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Updated predictRes Erlang Side
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/MainServer/mainServerDefs.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] Updated predictRes Erlang Side
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/MainServer/mainServerDefs.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/apiServer.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataset_db.py
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[APiServerDB] WIP
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_2s_4r_4w.json
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[APiServerDB] WIP
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_2s_4r_4w.json
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/nerl_csv_dataset_db.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] Fixed predictRes erlang-side
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_py/apiServer/receiver.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] Fixed predictRes erlang-side
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_py/apiServer/receiver.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] WIP
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP
  src_py/apiServer/transmitter.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106
