Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi

countinue to order
  src_cpp/opennnBridge/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

countinue to order
  src_cpp/opennnBridge/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

finish translating
  src_cpp/opennnBridge/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

finish translating
  src_cpp/opennnBridge/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

SHA To Model function
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

SHA To Model function
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
Owners: @leondavi, @GuyPerets106

Worker Args Fix
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

Worker Args Fix
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/ErlHeadersExporter.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[TESTS] Set env - add installation instructions for missing libraries
  src_py/requirements.txt
  tests/set_env.sh
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[TESTS] Set env - add installation instructions for missing libraries
  src_py/requirements.txt
  tests/set_env.sh
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLNIF] Create common folder - Implement NerlWorker layers Parser
  CMakeLists.txt
  inputJsonsFiles/Workers/worker_latest.json
  src_cpp/CMakeLists.txt
  src_cpp/common/CMakeLists.txt
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorker.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/nerlLayer.cpp
  src_cpp/opennnBridge/nerlWorker.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLNIF] Create common folder - Implement NerlWorker layers Parser
  CMakeLists.txt
  inputJsonsFiles/Workers/worker_latest.json
  src_cpp/CMakeLists.txt
  src_cpp/common/CMakeLists.txt
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorker.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/nerlLayer.cpp
  src_cpp/opennnBridge/nerlWorker.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[py/integratinNerlplanner] Fix bugs with load worker
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonElementWorker.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integratinNerlplanner] Fix bugs with load worker
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonElementWorker.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlpanner] update CNN option help
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[py/integrationNerlpanner] update CNN option help
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Add worker_latest.json - exmaple of the latest version of worker
  inputJsonsFiles/Workers/worker_latest.json
Owners: none

[NERLPLANNER] Add worker_latest.json - exmaple of the latest version of worker
  inputJsonsFiles/Workers/worker_latest.json
Owners: none

parsing params to NerlWorkerOpennn
  src_cpp/common/CMakeLists.txt
  src_cpp/common/nerlWorker.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

parsing params to NerlWorkerOpennn
  src_cpp/common/CMakeLists.txt
  src_cpp/common/nerlWorker.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] WIP Parsing
  NerlnetBuild.sh
  src_cpp/common/CMakeLists.txt
  src_cpp/common/common_definitions.h
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorker.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.h
  src_cpp/common/worker_definitions_ag.h
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] WIP Parsing
  NerlnetBuild.sh
  src_cpp/common/CMakeLists.txt
  src_cpp/common/common_definitions.h
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorker.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.h
  src_cpp/common/worker_definitions_ag.h
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] WIP Parsing - Compilation passed
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] WIP Parsing - Compilation passed
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[TENSOR] Convert vector<int> to tensor of Index
  src_cpp/opennnBridge/CustumNN.h
  src_cpp/opennnBridge/definitionsNN.h
  src_cpp/opennnBridge/eigenTensorTypes.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/openNNExtensionFunction.h
  src_cpp/opennnBridge/openNNmodelNif.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[TENSOR] Convert vector<int> to tensor of Index
  src_cpp/opennnBridge/CustumNN.h
  src_cpp/opennnBridge/definitionsNN.h
  src_cpp/opennnBridge/eigenTensorTypes.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/openNNExtensionFunction.h
  src_cpp/opennnBridge/openNNmodelNif.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

countinue to parse
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorker.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

countinue to parse
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorker.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/common/utilities.cpp
  src_cpp/common/utilities.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add activation functions and continue to build the nn
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add activation functions and continue to build the nn
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

change bridgeController
  src_cpp/common/CMakeLists.txt
  src_cpp/common/bridgeController.h
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/bridgeController.h
  src_cpp/opennnBridge/get_set_weights.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNmodelNif.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

change bridgeController
  src_cpp/common/CMakeLists.txt
  src_cpp/common/bridgeController.h
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/bridgeController.h
  src_cpp/opennnBridge/get_set_weights.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNmodelNif.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add NerlWorker to create flow
  src_cpp/common/CMakeLists.txt
  src_cpp/common/bridgeController.h
  src_cpp/common/nerlWorker.h
  src_cpp/opennnBridge/get_set_weights.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add NerlWorker to create flow
  src_cpp/common/CMakeLists.txt
  src_cpp/common/bridgeController.h
  src_cpp/common/nerlWorker.h
  src_cpp/opennnBridge/get_set_weights.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

finish training startegy, fix bug , change NerlWorker
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

finish training startegy, fix bug , change NerlWorker
  src_cpp/common/nerlWorker.cpp
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/nerlWorkerOpenNN.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

clean the code
  src_cpp/opennnBridge/CustumNN.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

clean the code
  src_cpp/opennnBridge/CustumNN.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none
