Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

[ApiServerDB] Removed prints
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
Owners: @leondavi, @GuyPerets106

[ApiServerDB] Removed prints
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
Owners: @leondavi, @GuyPerets106

Added Example Notebook
  examples/NerlnetExperiment.ipynb
Owners: none

Added Example Notebook
  examples/NerlnetExperiment.ipynb
Owners: none

[ApiServerDB] CommStats changes , Tasks in comments
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/NerlDB.py
  src_py/apiServer/NerlDatasetDB.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] CommStats changes , Tasks in comments
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/Router/routerGenserver.erl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/NerlDB.py
  src_py/apiServer/NerlDatasetDB.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

added whitespace
  src_cpp/common/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

added whitespace
  src_cpp/common/nerlWorker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] WIP add decode function for NerlDB
  src_py/apiServer/NerlDB.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServerDB] WIP add decode function for NerlDB
  src_py/apiServer/NerlDB.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/experiment.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

start adding flatten
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

change to num samples = 1
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add cnn, not full not checked
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

start adding flatten
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add cnn, not full not checked
  src_cpp/common/nerlLayer.cpp
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

change to num samples = 1
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

try to push
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

try to push
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add stride and assert
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add stride and assert
  src_cpp/common/nerlLayer.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServerDB] Parsing trainRes completed
  src_cpp/common/common_definitions.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/MainServer/mainServerDefs.hrl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/NerlDB.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[ApiServerDB] Parsing trainRes completed
  src_cpp/common/common_definitions.h
  src_cpp/opennnBridge/openNNnif.cpp
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerGeneric.erl
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/MainServer/mainGenserver.erl
  src_erl/NerlnetApp/src/MainServer/mainServerDefs.hrl
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
  src_py/apiServer/NerlComDB.py
  src_py/apiServer/NerlDB.py
  src_py/apiServer/decoderHttpMainServer.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

added unordered map parsing for k,s,p in complex parsing + expansion for highest dim found
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

added unordered map parsing for k,s,p in complex parsing + expansion for highest dim found
  src_cpp/common/nerlWorkerFunc.h
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[ApiServer] WIP rebuild of experiment flow - add new files to exp flow and csvDB
  src_py/apiServer/NerlCsvDataSetDB.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[ApiServer] WIP rebuild of experiment flow - add new files to exp flow and csvDB
  src_py/apiServer/NerlCsvDataSetDB.py
  src_py/apiServer/experiment_flow.py
  src_py/apiServer/receiver.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[CI] Add timeout and missing id
  .github/workflows/pr.yml
Owners: @leondavi

[CI] Add timeout and missing id
  .github/workflows/pr.yml
Owners: @leondavi

[AUTORUN] release mode param
  NerlnetStartup.sh
Owners: none

[AUTORUN] release mode param
  NerlnetStartup.sh
Owners: none

[NERLPLANNER] WIP init experiment flow UI
  src_py/nerlPlanner/Definitions.py
  src_py/nerlPlanner/WinCommunicationMapDialog.py
  src_py/nerlPlanner/WinCommunicationMapDialogDefinitions.py
  src_py/nerlPlanner/WinExperimentFlowDialog.py
  src_py/nerlPlanner/WinExperimentFlowDialogDefinitions.py
  src_py/nerlPlanner/main.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] WIP init experiment flow UI
  src_py/nerlPlanner/Definitions.py
  src_py/nerlPlanner/WinCommunicationMapDialog.py
  src_py/nerlPlanner/WinCommunicationMapDialogDefinitions.py
  src_py/nerlPlanner/WinExperimentFlowDialog.py
  src_py/nerlPlanner/WinExperimentFlowDialogDefinitions.py
  src_py/nerlPlanner/main.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

disable communication win dialog
  src_py/nerlPlanner/WinCommunicationMapDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

disable communication win dialog
  src_py/nerlPlanner/WinCommunicationMapDialog.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

add pooling
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

add pooling
  src_cpp/common/nerlLayer.h
  src_cpp/common/nerlWorkerFunc.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/nerlWorkerOpenNN.cpp
  src_cpp/opennnBridge/openNNnif.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106
