Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kapelnik, @leondavi, @evgenyan95, @zivmo99, @dordor7

.github/CODEOWNERS:

/src_erl/    @kapelnik @leondavi @evgenyan95
/src_cpp/    @zivmo99 @leondavi @evgenyan95 @dordor7
/src_py/     @kapelnik @leondavi @dordor7
/src_cpp                  @leondavi
/.github/    @leondavi
/src_py/apiServer/  @leondavi @dordor7

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

[NIFPP] Load nif using macros for build/release easy switch
  src_erl/niftest.erl
Owners: @kapelnik, @leondavi, @evgenyan95

[NIFPP] Load nif using macros for build/release easy switch
  src_erl/niftest.erl
Owners: @kapelnik, @leondavi, @evgenyan95

[NIFPP] minor change
  src_erl/niftest.erl
Owners: @kapelnik, @leondavi, @evgenyan95

[NIFPP] minor change
  src_erl/niftest.erl
Owners: @kapelnik, @leondavi, @evgenyan95

[NIFPP] documentation for niftest
  src_erl/niftest.erl
Owners: @kapelnik, @leondavi, @evgenyan95

[NIFPP] documentation for niftest
  src_erl/niftest.erl
Owners: @kapelnik, @leondavi, @evgenyan95

commit
  src_cpp/opennnBridge/include/nifppEigenExtensions.h
  src_cpp/opennnBridge/include/niftest.h
  src_erl/niftest.erl
Owners: @leondavi, @kapelnik, @evgenyan95

commit
  src_cpp/opennnBridge/include/nifppEigenExtensions.h
  src_cpp/opennnBridge/include/niftest.h
  src_erl/niftest.erl
Owners: @leondavi, @kapelnik, @evgenyan95
