Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kapelnik, @zivmo99, @leondavi, @Aslanso

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

weights update
  src_cpp/cppBridge/NerlNIF.cpp
  src_erl/erlBridge/erlModule.erl
  src_erl/erlBridge/nerlNetStatem.erl
Owners: @zivmo99, @leondavi, @kapelnik

weights update
  src_cpp/cppBridge/NerlNIF.cpp
  src_erl/erlBridge/erlModule.erl
  src_erl/erlBridge/nerlNetStatem.erl
Owners: @zivmo99, @leondavi, @kapelnik

federated update
  src_cpp/cppBridge/NerlNIF.cpp
  src_erl/erlBridge/cppSANNFedServStateM.erl
  src_erl/erlBridge/erlModule.erl
  src_erl/erlBridge/nerlNetStatem.erl
  src_py/NerlNetController.py
Owners: @zivmo99, @leondavi, @kapelnik

federated update
  src_cpp/cppBridge/NerlNIF.cpp
  src_erl/erlBridge/cppSANNFedServStateM.erl
  src_erl/erlBridge/erlModule.erl
  src_erl/erlBridge/nerlNetStatem.erl
  src_py/NerlNetController.py
Owners: @zivmo99, @leondavi, @kapelnik

redundant code update
  src_cpp/cppBridge/NerlNIF.cpp
Owners: @zivmo99, @leondavi

redundant code update
  src_cpp/cppBridge/NerlNIF.cpp
Owners: @zivmo99, @leondavi

Update README.md
  README.md
Owners: none

Update README.md
  README.md
Owners: none

Update .gitignore
  .gitignore
Owners: none

Update .gitignore
  .gitignore
Owners: none

vector conversions, json1pcIp, cppSannStatemModes.hrl and minor updates
  src_cpp/cppBridge/NerlNIF.cpp
  src_erl/Communication_Layer/http_Nerlserver/input/jsonArch1PC.json
  src_erl/Communication_Layer/http_Nerlserver/src/Client/clientStatem.erl
  src_erl/Communication_Layer/http_Nerlserver/src/nerlNetServer_app.erl
  src_erl/Communication_Layer/http_Nerlserver/src/source/sourceStatem.erl
  src_erl/erlBridge/cppSANNFedServStateM.erl
  src_erl/erlBridge/erlModule.erl
  src_erl/erlBridge/nerlNetStatem.erl
  src_py/NerlNetController.py
Owners: @zivmo99, @leondavi, @kapelnik

vector conversions, json1pcIp, cppSannStatemModes.hrl and minor updates
  src_cpp/cppBridge/NerlNIF.cpp
  src_erl/Communication_Layer/http_Nerlserver/input/jsonArch1PC.json
  src_erl/Communication_Layer/http_Nerlserver/src/Client/clientStatem.erl
  src_erl/Communication_Layer/http_Nerlserver/src/nerlNetServer_app.erl
  src_erl/Communication_Layer/http_Nerlserver/src/source/sourceStatem.erl
  src_erl/erlBridge/cppSANNFedServStateM.erl
  src_erl/erlBridge/erlModule.erl
  src_erl/erlBridge/nerlNetStatem.erl
  src_py/NerlNetController.py
Owners: @zivmo99, @leondavi, @kapelnik

.github/CODEOWNERS:

/src_erl/    @kapelnik @zivmo99 @leondavi
/src_cpp/    @zivmo99 @leondavi 
/src_py/     @kapelnik @zivmo99 @leondavi
/.github/    @leondavi
/src_py/apiServer/  @leondavi @kapelnik @Aslanso
