Repository leondavi/NErlNet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @leondavi, @GuyPerets106, @Orisadek, @Hugina, @ohad123, @NoaShapira8

.github/CODEOWNERS:

/src_erl/    @leondavi @GuyPerets106
/src_cpp/    @leondavi @Orisadek @Hugina @GuyPerets106
/src_py/     @leondavi @ohad123 @NoaShapira8 @GuyPerets106
/.github/    @leondavi

[NERLWORKER] Add missing implementations
  src_cpp/opennnBridge/nerlworker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] Add missing implementations
  src_cpp/opennnBridge/nerlworker.cpp
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLPLANNER] Add Infra Type to Workers
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_erl/NerlnetApp/src/dc_definitions_ag.hrl
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/JsonElements.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Add Infra Type to Workers
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_erl/NerlnetApp/src/dc_definitions_ag.hrl
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/JsonElements.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER_AG] Fix generate code - remove operations
  src_py/nerlPlanner/CppHeadersExporterDefs.py
  src_py/nerlPlanner/ErlHeadersExporterDefs.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER_AG] Fix generate code - remove operations
  src_py/nerlPlanner/CppHeadersExporterDefs.py
  src_py/nerlPlanner/ErlHeadersExporterDefs.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERPLANNER]Fix issues with client's workers
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/HandlersGlobals.py
  src_py/nerlPlanner/JsonDistributedConfig.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERPLANNER]Fix issues with client's workers
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/HandlersGlobals.py
  src_py/nerlPlanner/JsonDistributedConfig.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[SOURCE] Performance Optimization Phase I
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[SOURCE] Performance Optimization Phase I
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[SOURCE] Fix overhead addition
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[SOURCE] Fix overhead addition
  src_erl/NerlnetApp/src/Source/sourceStatem.erl
Owners: @leondavi, @GuyPerets106

[NERLPLANNER] Fix crash - Add worker from loaded worker
  src_py/nerlPlanner/JsonElementWorker.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Fix crash - Add worker from loaded worker
  src_py/nerlPlanner/JsonElementWorker.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[DC] Integration of DC into API Server
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/dc_definitions_ag.hrl
  src_py/apiServer/apiServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/jsonDirParser.py
  src_py/apiServer/networkComponents.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonElements.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/arch_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[DC] Integration of DC into API Server
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  src_erl/NerlnetApp/src/Client/clientStatem.erl
  src_erl/NerlnetApp/src/Client/clientWorkersFunctions.erl
  src_erl/NerlnetApp/src/dc_definitions_ag.hrl
  src_py/apiServer/apiServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/experiment_flow_debug.py
  src_py/apiServer/jsonDirParser.py
  src_py/apiServer/networkComponents.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonElements.py
  tests/NerlnetFullFlowTest.sh
  tests/inputJsonsFiles/arch_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[NERLWORKER] Add erlang nif code
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorker.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] Add erlang nif code
  src_cpp/opennnBridge/CMakeLists.txt
  src_cpp/opennnBridge/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorker.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_cpp/opennnBridge/openNNnif.h
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] Add nerlTensor
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTensor.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerFederatedServer.erl
  tests/NerlnetNifTest.sh
Owners: @leondavi, @GuyPerets106

[NERLWORKER] Add nerlTensor
  src_erl/NerlnetApp/src/Bridge/nerlNIF.erl
  src_erl/NerlnetApp/src/Bridge/nerlTensor.erl
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
  src_erl/NerlnetApp/src/Bridge/onnWorkers/workerFederatedServer.erl
  tests/NerlnetNifTest.sh
Owners: @leondavi, @GuyPerets106

[NERLWORKER] After the meeting
  src_cpp/opennnBridge/nerlLayer.h
  src_cpp/opennnBridge/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorker.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NERLWORKER] After the meeting
  src_cpp/opennnBridge/nerlLayer.h
  src_cpp/opennnBridge/nerlWorker.cpp
  src_cpp/opennnBridge/nerlWorker.h
  src_cpp/opennnBridge/nerlWorkerNIF.h
  src_erl/NerlnetApp/src/Bridge/nerlTests.erl
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106

[NETWORK COMPONENT] WIP
  src_py/apiServer/networkComponents.py
  src_py/nerlPlanner/JsonElements.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NETWORK COMPONENT] WIP
  src_py/apiServer/networkComponents.py
  src_py/nerlPlanner/JsonElements.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NETWORK_COMPONENTS] DC integerated with NetworkComponents and passed
  src_py/apiServer/networkComponents.py
  src_py/nerlPlanner/JsonElements.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NETWORK_COMPONENTS] DC integerated with NetworkComponents and passed
  src_py/apiServer/networkComponents.py
  src_py/nerlPlanner/JsonElements.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Add Distributed System Type and Token
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonDistributedConfigDefs.py
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Add Distributed System Type and Token
  src_cpp/opennnBridge/worker_definitions_ag.h
  src_erl/NerlnetApp/src/worker_definitions_ag.hrl
  src_py/nerlPlanner/CppHeadersExporter.py
  src_py/nerlPlanner/ErlHeadersExporter.py
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/JsonDistributedConfig.py
  src_py/nerlPlanner/JsonDistributedConfigDefs.py
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
  src_py/nerlPlanner/JsonElementsDefinitions.py
  src_py/nerlPlanner/WinWorkerDialog.py
  src_py/nerlPlanner/WinWorkerDialogDefnitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Fix script of nerlplanner
  NerlnetPlanner.sh
Owners: none

[NERLPLANNER] Fix script of nerlplanner
  NerlnetPlanner.sh
Owners: none

[NERLPLANNER] Add logger to nerlplanner and status bar to freq and batch
  src_py/nerlPlanner/Definitions.py
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/logger.py
  src_py/nerlPlanner/main.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Add logger to nerlplanner and status bar to freq and batch
  src_py/nerlPlanner/Definitions.py
  src_py/nerlPlanner/Handlers.py
  src_py/nerlPlanner/logger.py
  src_py/nerlPlanner/main.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Integration Meeting
  inputJsonsFiles/Workers/distributed_worker.json
  src_cpp/opennnBridge/nerlWorker.cpp
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Integration Meeting
  inputJsonsFiles/Workers/distributed_worker.json
  src_cpp/opennnBridge/nerlWorker.cpp
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @Orisadek, @Hugina, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] Fix worker loading issue in DC worker frame
  NerlnetPlanner.sh
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Fix worker loading issue in DC worker frame
  NerlnetPlanner.sh
  src_py/nerlPlanner/JsonElementWorker.py
  src_py/nerlPlanner/JsonElementWorkerDefinitions.py
Owners: @leondavi, @ohad123, @NoaShapira8, @GuyPerets106

[NERLPLANNER] Worker Test
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  inputJsonsFiles/Workers/testworker_dc_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: none

[NERLPLANNER] Worker Test
  inputJsonsFiles/DistributedConfig/dc_test_synt_1d_2c_1s_4r_4w.json
  inputJsonsFiles/Workers/testworker_dc_test_synt_1d_2c_1s_4r_4w.json
  tests/inputJsonsFiles/dc_test_synt_1d_2c_1s_4r_4w.json.noip
Owners: none

[NERLPLANNER] JsonParser Intergration partial
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/nerl_tools.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/networkComponents.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8

[NERLPLANNER] JsonParser Intergration partial
  src_erl/NerlnetApp/src/Init/jsonParser.erl
  src_erl/NerlnetApp/src/nerl_tools.hrl
  src_erl/NerlnetApp/src/nerlnetApp_app.erl
  src_py/apiServer/apiServer.py
  src_py/apiServer/definitions.py
  src_py/apiServer/networkComponents.py
Owners: @leondavi, @GuyPerets106, @ohad123, @NoaShapira8
